[SddmGreeterTheme]
Name=Rollo Warrior
Description=Tema SDDM con reloj, imagen, video y pantalla de inicio personalizable
Author=Teddy
Copyright=(c) 2026
License=MIT
Type=sddm-theme
Version=0.4
MainScript=Main.qml
ConfigFile=theme.conf
QtVersion=6
Theme-Id=rollo-warrior
Theme-API=2.0